<ion-content class="ion-padding">
    <div class="head-title">
        <span class="title-th ml-35">Welcome to Grocery App</span>
    </div>
    <ion-img src="../../assets/images/login/LoginBanner.jpg" alt="Login Banner" class="w-full"></ion-img>

    <div class="ml-35">
        <ion-text color="">
            <h1 class="sign-in text-shadow-gray">Sign In</h1>
            <p class="text-sm ">to access your addresses, orders and wishlist.</p>
        </ion-text>

    </div>
    <div class="sign-in-form shadow-md">
        <p class="text-primary text-shadow-gray">Let's get you started <span>&#8594;</span></p>
        <ion-item class="bg-default">
            <div class="w-full bg-default p-0">
                <ion-input label="Mobile number" labelPlacement="stacked" placeholder="Enter mobile number" [formControl]="mobileNumberCL"></ion-input>
            </div>
        </ion-item>
        <!-- <ion-button shape="round" (click)="getOTP()" [disabled]="!mobileNumberCL.valid">Get OTP</ion-button> -->
        <ion-button shape="round" (click)="getOTP()">Get OTP</ion-button>
    </div>

    <p class="text-center underline w-full text-sm text-secondary"><a routerLink="/home">Skip</a></p>
</ion-content>