<ion-content class="ion-padding">
  <h2>Welcome to Grocery App</h2>
  <ion-img src="../../assets/images/login/LoginBanner.jpg" alt="Login Banner"></ion-img>

  <ion-text color="">
    <h1>Sign In</h1>
    <p>to access your addresses, orders and wishlist.</p>
  </ion-text>

  <div>
    <p>Let's get you started <span>&#8594;</span></p>
    <ion-item>
      <ion-input label="Mobile number" labelPlacement="stacked" placeholder="Enter mobile number"
        [formControl]="mobileNumberCL"></ion-input>
    </ion-item>
    <ion-button shape="round" (click)="getOTP()" [disabled]="!mobileNumberCL.valid">Get OTP</ion-button>
  </div>

  <p><a routerLink="/home">Skip</a></p>
</ion-content>