<ion-content [scrollEvents]="true">
  <h2>Welcome to Grocery App</h2>
  <ion-img src="../../assets/images/login/LoginBanner.jpg" alt="Login Banner"></ion-img>

  <ion-text color="">
    <h1>Sign In</h1>
    <p>to access your addresses, orders and wishlist.</p>
  </ion-text>

  <div>
    <p>Let's get you started <span>&#8594;</span></p>
    <ion-item>
      <ion-input label="Mobile number" labelPlacement="stacked" placeholder="Enter mobile number"></ion-input>
    </ion-item>
    <ion-button shape="round">Get OTP</ion-button>
  </div>

  <p>Skip</p>
</ion-content>